@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

:root {
  --cream-bkgrndcolor: #f3eed9;
  --orange-bkgrndcolor: #824936;
  --dark-green-bkgrndcolor: #222c2a;
  --playfair: "Playfair Display", serif;
  --roboto: "Roboto", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
}

img {
  width: 100%;
}

.container {
}
