@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=Roboto:wght@300;400;700&display=swap");

:root {
  --cream-bkgrndcolor: #f3eed9;
  --orange-bkgrndcolor: #824936;
  --dark-green-bkgrndcolor: #222c2a;
  --playfair: "Playfair Display", serif;
  --roboto: "Roboto", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto);
  font-size: 1.3125rem;
  line-height: 1.6;
  color: var(--dark-green-bkgrndcolor);
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: var(--playfair);
  margin-top: 0;
  font-weight: 900;
  line-height: 1.1;
}

section {
  padding: 4em 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1178px;
}

.section-title {
  font-size: 2.25rem;
  color: var(--cream-bkgrndcolor);
}

.section-title--dark {
  color: var(--orange-bkgrndcolor);
}

.intro {
  text-align: center;
  background: var(--cream-bkgrndcolor);
  color: var(--orange-bkgrndcolor);
  min-height: 660px;
  display: flex;
  align-items: center;
}

.intro__text {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.125rem;
  color: var(--dark-green-bkgrndcolor);
  margin: 0 0 0.25em;
}

.intro__title {
  font-size: 3rem;
}

.section-three {
  background-color: var(--dark-green-bkgrndcolor);
  color: #fff;
}

.section-four {
  background-color: var(--orange-bkgrndcolor);
  color: #fff;
}

@media (min-width: 800px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 5em;
  }

  .intro__title {
    font-size: 3.75rem;
  }
}
